@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.time {
  font-family: 'Unica One', cursive;
}

.gradient {
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
}

.border-grad {
  border: 2px solid;
  border-image: linear-gradient(
      270deg,
      #903aff 0%,
      #d434fe 56.42%,
      #ff26b9 99.99%,
      #fe34b9 100%
    )
    1;
  border-radius: 5px;
}

/* 
.hero::after {
  content: url(/src/Images/bubble.png);
  position: absolute;
  right: 0%;
  width: 50px;
  inset: 0;
  right: 50%;
} */

.border-img::after {
  content: '';
  position: absolute;
  inset: -0.2rem;
  background: linear-gradient(
    180deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  border-radius: inherit;
  z-index: -1;
}

#contact {
  background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu.open {
  transform: translateX(0);
}

.msg.open {
  display: flex;
}

.faq-box.active .answer {
  display: block;
}

.reg-box {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.error.active {
  transform: translateX(0);
  opacity: 1;
}

#loader > div {
  animation: animate 1.5s infinite linear;
}
#loader > div:nth-child(1) {
  animation-delay: 0.5s;
}
#loader > div:nth-child(2) {
  animation-delay: 1s;
}
#loader > div:nth-child(3) {
  animation-delay: 1.5s;
}

#loader.active {
  display: flex;
}

@keyframes animate {
  0% {
    opacity: 0.2;
    scale: 1;
  }
  50% {
    opacity: 1;
    scale: 1.1;
  }
  100% {
    opacity: 0.2;
    scale: 1;
  }
}

@media screen and (max-width: 900px) {
  .reg-box {
    box-shadow: none;
  }
}
